@import "bootstrap";


.jumbotron-extend {
  position: relative;
  height: 100vh;
  min-height: 300px;
  background: url(Frarimages/top_screen.jpg) no-repeat center center;
  background-size: cover;
}

.jumbotron-container {
  position: relative;
  top: 40%;
  transform: translateY(-50%);
}

.navbar-light .navbar-nav .nav-link {
  color: black;
}

h2 {
  padding-bottom: 7px;
}

.mw-md {
  max-width: 576px;
}

//これ、神表示
.field_with_errors {
  background-color: #fcc;
  padding: 2px;
}