@import "bootstrap";


.jumbotron-extend {
  position: relative;
  height: 100vh;
  min-height: 300px;
  background: url(Frarimages/top_screen.jpg) no-repeat center center;
  background-size: cover;
}

.jumbotron-container {
  position: relative;
  top: 40%;
  transform: translateY(-50%);
}

.navbar-light .navbar-nav .nav-link {
  color: black;
}

h2 {
  padding-bottom: 7px;
}

.mw-md {
  max-width: 576px;
}

//これ、神表示
.field_with_errors {
  background-color: #fcc;
  padding: 2px;
}

.room-nav-link {
  border: 1px solid lighten($primary, 40%);
  background: lighten($primary, 45%);

  & + .room-nav-link {
    border-top: 0 none;
  }
}

.chat {
  border: 1px solid lighten($secondary, 40%);
  background: lighten($secondary, 50%);
  height: 50vh;
  border-radius: 5px 5px 0 0;
  overflow-y: auto;

  .chat-message-container {
    padding: 5px;

    .avatar {
      margin: 5px;
    }

    .message-content {
      padding: 5px;
      border: 1px solid $primary;
      border-radius: 5px;
      background: lighten($primary, 10%);
      color: $white;
    }

    & + .chat-message-container {
      margin-top: 10px;
    }
  }
}

.chat-input {
  border: 1px solid lighten($secondary, 40%);
  border-top: 0 none;
  border-radius: 5px 5px 0 0;
}

.avatar {
  max-height:30px;
  border-radius: 15px;
  width:auto;
  vertical-align:middle;
}
